<div class="app-main">
  <app-modal *ngIf="modal.isOpened" [type]="modal.type" [data]="modal.data" [callback]="modal.callback"></app-modal>
  <div class="app-header d-flex flex-row">
    <span>HandyWings PMS</span>&nbsp;&nbsp;<span style="font-size: 12px; font-weight: bold; color: #4b4940">v {{version}}</span>
  </div>
  <div class="app-content d-flex flex-row">
    <div class="app-sidebar d-flex flex-column">
      <div class="sidebar-list" routerLink="/overview">Overview</div>
      <div class="sidebar-list" routerLink="/management">Management</div>
    </div>
    <div class="app-body d-flex flex-column flex-fill">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
