<div class="modal-add">
  <div class="header d-flex flex-row justify-content-center">
    Add a product
  </div>
  <div class="body">
    <form [formGroup]="itemFormData" (ngSubmit)="addItem(itemFormData)" novalidate>
      <table>
        <tbody>
          <tr>
            <td><span style="color: red;">*</span> Id: </td>
            <td><input type="text" class="form-control" name="id" formControlName="id"></td>
          </tr>
          <tr>
            <td><span style="color: red;">*</span> Name: </td>
            <td><input type="text" class="form-control" name="name" formControlName="name"></td>
          </tr>
          <tr>
            <td>Image file name: </td>
            <td><input type="url" class="form-control" name="imageFileName" formControlName="imageFileName"></td>
          </tr>
          <tr>
            <td>Description: </td>
            <td><textarea type="text" class="form-control" name="description" formControlName="description"></textarea></td>
          </tr>
          <tr>
            <td><span style="color: red;">*</span> Price: </td>
            <td><input type="number" class="form-control" name="price" formControlName="price"></td>
          </tr>
        </tbody>
      </table>
      <app-validation [validationText]="validationText"></app-validation>
      <button type="submit" class="btn btn-primary">Add</button>
      <button type="button" class="btn btn-light" (click)="closeModal()">Cancel</button>
    </form>
  </div>
</div>
